@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.font-great-vibes {
    font-family: 'Great Vibes', cursive;
}

.container {
    @apply mx-auto px-4 max-w-[480px];
}